<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>AngularJS CanvasPainter</title>
    <meta name="viewport" content="initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no">
</head>
<style>
    html,body {
       margin:0;
       padding:0;
    }
</style>
<body ng-controller="mainCtrl as ctrl">
        <div pw-canvas options="ctrl.options"
             version="ctrl.version"
             event-delegate="ctrl.eventDelegate"></div>
        <button ng-click="ctrl.showImageList()" style="position:fixed;top:10px;left:30%">
              showImageList
        </button>
        <button ng-click="ctrl.reg()" style="position:fixed;bottom:10px;left:30%">
              recognize
        </button>
        <button ng-click="ctrl.refresh()" style="position:fixed;bottom:10px;left:60%">
              refresh
        </button>
        <div ng-repeat="img in ctrl.imgList">
            <img ng-src="{{img}}"/>
        </div>
        <div id="res" style="position:fixed;bottom:50px;left:25%;color:black;">

        </div>
</body>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="angular.js"></script>
<script type="text/javascript" src="angular-canvas-painter.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</html>