# Non-project-specific build files:
build.xml
local.properties
/gradlew
/gradlew.bat
/gradle
t10k-images
.gradle
.idea
.DS_Store
# Ant builds
ant-build
ant-gen
# Eclipse builds
gen
out
# Gradle builds
build
.externalNativeBuild
libs
handwrite_trained_result.yml

